/* Dynamic CSS Document */

/* general rules */

#futurebb {
	font-family: Arial, Tahoma, Geneva, sans-serif;
}

#futurebb .in_form th {
	text-align: left;
}

#futurebb a, #futurebb a:visited {
	color: #33D;
}

#futurebb a:hover {
	color: #06F;
}

#futurebb h2, #futurebb h3, #futurebb h4, #futurebb h5 {
	/*margin-bottom: 2px;*/
}

#futurebb p {
	margin-top: 2px;
	margin-bottom: 6px;
	padding-left: 3px;
}

#futurebb img {
	border: none;
}

#futurebb table {
	border-spacing: 12px 6px;
}

#futurebb .forum_header, #futurebb .forum_content, #futurebb .forum_footer, #futurebb .cat_wrap {
	box-shadow: 3px 3px 5px -1px #AAA;
}

/* header/notifications */

#futurebb .whitebox {
	background-color: #FFF;
	border: 2px ridge #CCC;
}

#futurebb .usertag {
	color: #22A;
}

/* header/nav */

/* content */
.forum_content {
	border: 1px solid #000;
	margin: 5px 0px;
	background-color: #EEE;
}

/* index */

#futurebb .cat_body {
	background-color: #EEE;
	border: 1px solid #000;
}

#futurebb .cat_wrap {
	margin-bottom: 2px;
	margin-top: 5px;
}

#futurebb h2.cat_header {
	background-color: #9AF;
	border: 1px solid #000;
	margin-bottom: 0px;
	margin-top: 2px;
	padding-top: 2px;
	padding-left: 4px;
	font-size: 18px;
	vertical-align:middle;
}

#futurebb .forum_content {
	padding-top: 0px;
}

#futurebb .forum_content .cat_header {
	border-top:0px solid #000;
	border-left:0px solid #000;
	border-right:0px solid #000;
	margin-top:0px;
	vertical-align:middle;
}

#futurebb .cat_wrap .cat_header {
	border-bottom:0px solid #000;
}

#futurebb .cat_body table th {
	text-align:left;
}

#futurebb .cat_body td.forum_info {
	width:auto;
	border-collapse:collapse;
	word-wrap:normal;
}

#futurebb .cat_body td.forum_number {
	width:10%
}

#futurebb .cat_body td.forum_last_post {
	width:30%
}

#futurebb table.fullwidth {
	width:100%;
}

#futurebb tr.table-row {
	display:table-row;
}

#futurebb .relative {
	position:relative;
}

#futurebb .alignright {
	text-align:right;
}

#futurebb .aligncenter {
	text-align:center;
}

/* topics */

#futurebb a.unread {
	font-weight:bold;
}

#futurebb .forumtable {
	width: 100%;
	text-align: left;
	border-top: solid 1px #9AF;
	border-spacing: 0 0;
}
#futurebb .forumtable td, #futurebb .forumtable th {
	border-bottom: solid 1px #CCC;
	padding: 4px 3px;
}

#futurebb embed.svgimg {
	overflow: visible;
	text-align: center;
}

#futurebb .cat_body {
	position: relative; /* added */
}

#futurebb .postright {
	padding-top:5px;
	word-wrap:break-word;
	word-break:normal;
}

#futurebb a.closed {
	color:#AAA;
}

#futurebb h2.cat_header a {
	text-decoration: none;
	font-size:16px;
}

#futurebb span.closedlabel {
	color: #AAA;
	font-style: italic;
}

#futurebb img.avatar {
	max-width:16px;
	max-height:16px;
}

#futurebb .clearboth {
	clear:both;
}

#futurebb .floatright {
	/* just timestamps in this case */
	float:right;
	font-weight:normal;
	padding-top:1px;
}

#futurebb .floatright a {
	color:#555;
	padding-right:3px;
}

#futurebb span.username {
	position:relative;
	bottom:2px;
}

/* bbcode */

#futurebb .quotebox {
	margin-right:5px;
	padding:1px;
	border: 1px solid #888;
	word-wrap:break-word;
	word-break:normal;
	background-color: #F9F9F9;
}

#futurebb div.preview {
	margin:5px;
	padding:3px
}

#futurebb div.postright img {
	max-width:100%;
}

#futurebb .bold {
	font-weight:bold;
}

#futurebb .redem {
	color:#000;
	font-weight:bold;
}